[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flake8 = "*"
autopep8 = "*"
django-debug-toolbar = "*"
pillow = "*"
ipython = "*"
django-mptt = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
dropbox = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
