body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	overflow-x: hidden;
}
#page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
#content {
	flex: 1 0 auto;
}
.footer-main {
	flex: 0 0 auto;
}


a {
	text-decoration: none;
}

$input-bg-grey:#F5F5F5;

$white-text: #FEFEFE;
$green-color-text: #178B3F;
$grey-main: #AEAFB0;
$grey-main-darken:#969898;
$temp-gradient-green: linear-gradient(153deg, rgba(7,220,88,1) 3%, rgba(4,132,57,1) 88%);
$footer-bg: #02592E;

.header-main-col {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header-main {
	padding: 25px 0;
	box-shadow: 0 0px 25px 1px rgba(0,0,0,0.1);
	&__logo-wrapper {
		min-width: 300px;
	}
	&__items {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&__item {
			&.follow-sale {
				margin-right: 20px;
				& a {
					display: flex;
					align-items: center;
					color:$grey-main;
					white-space: nowrap;
					& img {
						width: 30px;
						margin-right: 5px;
					}
				}
			}
			&.favorites {
				margin-right: 20px;
				& a {
					width: 23px;
					height: 23px;
					display: block;
					position: relative;
					& img {
						width: 100%;
						height: 100%;
					}
				}
			}
			& .wrapper-menu-hamburger {
				$bar-width: 25px;
				$bar-height: 4px;
				$bar-spacing: 4px;
				$bar-bg: $grey-main;
	
				width: $bar-width;
				height: $bar-height + $bar-spacing*2;
				cursor: pointer;
				&__hamburger-menu {
					width: $bar-width;
					height: $bar-height;
	
					position: relative;
					transform: translateY($bar-spacing);
					background: $bar-bg;
					transition: all 0ms 300ms;
					border-radius: 10px;
					&.animate {
						background: rgba(255, 255, 255, 0); 
					}
				
					&:before {
						width: $bar-width;
						height: $bar-height;
						content: "";
						position: absolute;
						left: 0;
						bottom: 7px;
						background: $bar-bg;
						transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
						border-radius: 10px;
					}
					&:after {
						width: $bar-width;
						height: $bar-height;
						content: "";
						position: absolute;
						left: 0;
						top: 7px;
						background: $bar-bg;
						transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
						border-radius: 10px;
					}
					&.animate:after {
						top: 0;
						transform: rotate(45deg);
						transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
					}
					&.animate:before {
						bottom: 0;
						transform: rotate(-45deg);
						transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
					}
				}
				
			}
		}
	}
}
.search-form {
	position: relative;
	display: flex;
	&__input-block {
		position: relative;
		&._region {
			min-width: 150px;
		}
	}
	& input {
		border-radius: 10px;
		background: $input-bg-grey;
		outline: none;
		border: none;
		padding: 5px 25px 5px 10px;
		color:$grey-main;
		font-size: 17px;
		&::placeholder {
			color:$grey-main;
		}
	}
	& .loupe {
		position: absolute;
		right: 7px;
		width: 15px;
		top: 10px;
	}
}
.tmp-dropdown-menu {

	& .dropdown-toggle {
		background: transparent;
		color: $grey-main;
		border: none;
		outline: none;
		box-shadow: none;
		position: relative;
		&:after, &:before {
			content: '';
			border: none;
			margin: 0;
			display: block;
			width: 6px;
			height: 2px;
			background: $grey-main;
			position: absolute;
			right: 2px;
			top: 50%;
			transform: rotate( 45deg );
		}
		&::before {
			right: -2px;
			transform: rotate( -45deg );
		}
		&:active {
			box-shadow: none;
		}
	}
}
#region-form {
	& select {
		color: $grey-main;
		border: none;
		outline: none;
	}
}
#content {
	padding: 25px 0;
}
.button.button-grey {
	background: $input-bg-grey;
	border-radius: 30px;
	color: $grey-main;
	padding: 8px 50px;
	transition: 0.3s;
	&:hover {
		background: darken($input-bg-grey,5%);
		color: darken($grey-main, 5%)
	}
}
.button.button-with-gradient {
	background: $temp-gradient-green;
	border-radius: 30px;
	color: $white-text;
	padding: 8px 50px;
	transition: 0.3s;
	background-size: 170%;
	border: none;
	outline: none;
	&:hover {
		background-position: top;
	}
}
.button.button-transperent {
	background: transparent;
	padding: 8px 50px;
	transition: 0.3s;
	border-radius: 30px;
	border: 1px solid #06CC52;
	color: #06CC52;
	&:hover {
		border: 1px solid darken(#06CC52, 10%);
		color: darken(#06CC52, 10%);
	}
}
.slider-temp-wrapper {
	&__slider-temp {
		width: 90%;
		&__slide-item {
			& img {
				width: 100%;
			}
		}
		& .slick-prev {
			left: -5%;
			&:after {
				top: 14px;
				left: 7px;
    			transform: rotate(-45deg);
			}
			&:before {
				top: 30px;
				left: 7px;
    			transform: rotate( 45deg);
			}
		}
		& .slick-next {
			right: -5%;
			&:after {
				top: 30px;
				right: 8px;
    			transform: rotate(-45deg);
			}
			&:before {
				top: 14px;
				right: 8px;
    			transform: rotate( 45deg);
			}
		}
		& .slick-prev, .slick-next {
			background: transparent;
			width: 50px;
			height: 50px;
			transition: 0.2s;
			border-radius: 50%;
			&:after , &:before {
				content: '';
				transition: 0.4s;
				width: 25px;
				border-radius: 25px;
				height: 5px;
				// background: $temp-gradient-green;
				background: #B3B3B3;

				position: absolute;
				opacity: 1;
				background-size: 50px;
			}
			&:hover {
				background: $input-bg-grey;

				&:after, &:before {
					background-position: -10px;
					background: $temp-gradient-green;

				}
			}
		}
		& .slick-dots  {
			transition: 0.4s;
			& li {
				transition: 0.4s;
				width: 10px;
				& button {
					transition: 0.4s;
					width: 8px;
					height: 8px;
					padding: 0;
					border-radius: 50%;
					background: $grey-main;

					&:before {
						color: $grey-main;
						content: '';
					}
				}
				&.slick-active {
					width: 24px;
					& button {
						width: 24px;
						border-radius: 20px;

						background: $temp-gradient-green;
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
.products-wrapper {
	& > .container > .row {
		padding-left: 60px;
		padding-right: 60px;
	}
	& .product-wrapper{
		& .product {
			border-radius: 20px;
			overflow: hidden;
			box-shadow: 0 0px 12px 2px rgba(0, 0, 0, 0.2);
			margin-bottom: 40px;
			position: relative;
			&__header-image-wrapper{
				position: relative;
				&:before {
					display: block;
					content: "";
					width: 100%;
					padding-top: 100%;
				}
				&__header-image {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					&__sale-block {
						position: absolute;
						left: 50%;
						transform: translate(-50%,0);
						width: 50%;
						top: 0;
						text-align: center;
						text-align: center;
						padding-top: 2%;
						&__bg {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							width: 100%;
						}
						&__text {
							position: relative;
							text-transform: uppercase;
							color: $white-text;
							font-weight: 600;
							font-size: 22px;
						}
					}
					&__product-img {
						width: 100%;
						// min-height: 280px;
						object-fit: cover;
						height: 100%;
					}
				}
			}

			&__name {
				padding: 0 15px;
				font-size: 20px;
				padding-top: 20px;
				height: 45px;
				max-height: 49px;
				overflow: hidden;
				color: #4C4C4C;
			}
			&__price-favorite {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 15px;
				padding-top: 35px;
				padding-bottom: 20px;
				&__price {
					font-size: 24px;
					position: relative;
					color: $green-color-text;
					& .sumbol {
						font-size: 17px;
					}
					&__without-discount {
						position: absolute;
						left: 0;
						color: $grey-main-darken;
						top: -26px;
						font-size: 18px;
						text-decoration: line-through;
						& .sumbol {
							font-size: 15px;
						}
					} 
				}
				&__favorite {
					cursor: pointer;
				}
			}
			&__company {
				position: relative;
				padding: 0 15px;
				border-top: 2px solid #EBEBEB;
				&__logo {
					width: 50%;
					max-width: 100%;
					& img {
						max-height: 50px;
					}
				}
			}
		}
	}
	&__see-all {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
}


.categories {
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-gap: 15px;
	& .category {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		& * {
			-webkit-transition:0.5s;  
			-moz-transition: 0.5s;  
			-o-transition: 0.5s;  
			transition: 0.5s;  
		}
		&__top-icon {
			background: $input-bg-grey;
			border-radius: 50%;
			background-position:0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			& svg {
				width: 100%;
				position: relative;
			}
		}
		&__bottom-text {
			margin-top: 10px;
		}

		&:hover {
			cursor: pointer;
			& .category__top-icon {
				background: #06B149;
				background: $temp-gradient-green;
				// background-position:103px;  
				& svg {
					& path {
						fill: $input-bg-grey;
					}
				}
			}
		}
	}
}

.buyers-and-suppliers-cards {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	&__card {
		margin-right: 30px;
		display: flex;
    	flex-direction: column;
		&__title {
			color: $green-color-text;
			text-align: center;
		}
		&__block {
			max-width: 200px;
			background: $input-bg-grey;
			padding: 30px 60px;
			border-radius: 10px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: revert;
			&__content {
				display: flex;
				align-items: center;
				line-height: 1.4;
				&__icon {
					margin-right: 20px;
					& img {
						width: 50px;
					}
				}
			}
			&__button {
				display: flex;
				justify-content: center;
				margin-top: 30px;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}

}
.footer-main {
	background: $footer-bg;
	padding: 60px 0;
	color:$white-text;
	margin-top: 80px;
	&__nav-and-info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;
		&__nav {
			&__menu {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				& a {
					padding: 5px 0;
					color: $white-text;
					&:hover {
						color: darken($white-text, 10%);
					}
				}
			}
		}
		&__info-block {
			max-width: 200px;
			& p {
				line-height: 1.5;
			}
		}
	}
	&__logo-and-socials {
		display: flex;
		justify-content: space-between;
		&__socials {
			display: flex;
			justify-content: center;
			align-items: center;
			&__social {
				width: 28px;
				height: 28px;
				margin-right: 15px;
				& img {
					width: 100%;
					height: 100%;
				}
				&:last-child {
					margin-right: 0;
				}

			}
		}
	}
}
.hide-svg {
	width: 0;
	height: 0;
	position: absolute;
}



.tmp-input-text {
	border-radius: 15px;
    background: #F5F5F5;
    outline: none;
    border: none;
    padding: 8px 25px 8px 10px;
    color: #AEAFB0;
}
.register-form-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.register-form {
		position: relative;
		max-width: 250px;
		width: 250px;

		&__inp-block {
			position: relative;
			margin: 15px 0;
			&__icon {
				position: absolute;
				left: 8px;
				top: 8px;
				color: $grey-main;
				&._icon__pasw {
					left: 10px;
				}
				&._show-passw {
					position: absolute;
					right:  8px;
					left: inherit;
					top: 8px;
					color: $grey-main;
					cursor: pointer;
				}
			}

			& .tmp-input-text {
				width: 100%;
				padding-left:30px; 
			}
			&._remember-block label {
				cursor: pointer;
				display: flex;
				align-items: center;
				width: 100%;
			}
		}
		&__submit {
			width: 100%;
		}

		&__remember {

			&__castom-checkbox {
				width: 35px;
				height: 35px;
				display: inline-block;
				background: $input-bg-grey;
				border-radius: 50%;
				margin-right: 10px;
				&:after {
					content: '';
					/* border-radius: 15px; */
					border: 3px solid #178B3F;
					height: 10px;
					width: 16px;
					position: absolute;
					border-top: none;
					border-right: none;
					left: 9px;
					top: 8px;
					display: none;
					transform: rotate(-50deg);
				}
			}
			&_inp {
				display: none;
				
				&:checked {
					& + .register-form__remember__castom-checkbox {
						&:after {
							display: block;
						}
					}
				}
			}

		}
	}
	.register-button {
		margin-top: 50px;
		width: 248px;
		text-align: center;
		padding: 7px 0;
	}
}

.forget_pasw {
	color: $green-color-text;
	text-decoration: underline;
	&:hover {
		color: darken($green-color-text, 10%);
	}
}
.mobile_menu_on_bottom {
	display: none;
}
.my-contacts__form {
	display: flex;
	flex-direction: row;
	&__right,
	&__left,
	&__center {
		width: 33.33%;
	}
	&__left {
		display: flex;
		justify-content: center;
		&__upload-file {
			width: 70px;
			height: 70px;
			background: $input-bg-grey;
			color: $grey-main; 
			border-radius: 50%;
			position: relative;
			& i {
				position: absolute;
				left: 50%;
				margin-right: -50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 24px;
			}			
			&:after {
				content: '\f030';
				color: $white-text;
				background: $green-color-text;
				padding: 10px;

				font: normal normal normal 14px/1 FontAwesome;
				border-radius: 50%;
				position: absolute;
				right: -15px;
				bottom: -10px;
			}
		}
	}
	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	&__center {
		&__block-fields {
			&__title {
				color: $green-color-text;
				&__icon {
					font-size: 20px;
					margin-right: 10px;
				}
			}
			&__inp-block {
				position: relative;
				margin: 10px 0;
		
		
				& .tmp-input-text {
					width: 100%;
					padding-left:30px; 
				}
			}
			margin-bottom: 25px;
		}
	}

}



.button.tmp-button-gray {
	background: #C3C4C4;
	color: $white-text;
	border-radius: 20px;
	padding: 6px 10px;
	border: none;
	outline: none;
	transition: 0.4s;
	&:hover {
		background: darken(#C3C4C4,10%);

	}
}
.product-page {
	display: flex;
	overflow: hidden;
	max-width: 2000px;
	margin: auto;
	&__images-block {
		width: 50%;
		&__image { // container
			position: relative;
			width: 100%;
			height: 100%;
			display: flex !important;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			& img {
				position: relative;
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
		


		& .slick-prev, .slick-next {
			background: transparent;
			width: 50px;
			height: 50px;
			transition: 0.4s;
			border-radius: 50%;
			z-index: 3;
			&:after , &:before {
				content: '';
				transition: 0.4s;
				width: 20px;
				height: 5px;
				background: $temp-gradient-green;
				position: absolute;
				opacity: 1;
				background-size: 50px;
				border-radius: 6px;

			}
			&:hover {
				&:after, &:before {
					background-position: -10px;
					// background: $grey-main-darken;
				}
			}
		}
		& .slick-dots  {
			transition: 0.4s;
			& li {
				transition: 0.4s;
				width: 10px;
				& button {
					transition: 0.4s;
					width: 8px;
					height: 8px;
					padding: 0;
					border-radius: 50%;
					background: $grey-main;
		
					&:before {
						color: $grey-main;
						content: '';
					}
				}
				&.slick-active {
					width: 24px;
					& button {
						width: 24px;
						border-radius: 20px;
		
						background: $temp-gradient-green;
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
		& .slick-prev {
			right: 100px;
			top: 95%;
			left: inherit;
			&:after {
				top: 16px;
				left: 7px;
    			transform: rotate(-45deg);
			}
			&:before {
				top: 28px;
				left: 7px;
    			transform: rotate( 45deg);
			}
		}
		& .slick-next {
			right: 50px;
			top: 95%;
			left: inherit;
			&:after {
				top: 28px;
				right: 8px;
    			transform: rotate(-45deg);
			}
			&:before {
				top: 16px;
				right: 8px;
    			transform: rotate( 45deg);
			}
		}
		& .slick-list {
			height: 100%;
			& .slick-track {
				height: 100%;
				& .slick-slide > div {
					width: 100%;
					height: 100%;
				}
			}
		}
		& .slick-dots {
			position: absolute;
			bottom: 10px;
		}
		&.slick-dotted.slick-slider {
			margin-bottom: 0;
		}
	} // __images-block

	&__content {
		width: 50%;
		position: relative;
		overflow-y: auto;
		padding-top: 82px;
		/* Track */

		&::-webkit-scrollbar-thumb  {
			z-index: 5;
		}
		&__header {
			display: flex;
			justify-content: space-between;
			padding: 25px 30px;
			top: 0;
			z-index: 1;
			position: relative;
			align-items: center;
			background: $white-text;
			width: 100%;

			
			position: fixed;
			box-shadow: 0 0px 25px 1px rgba(0, 0, 0,0.1);

			&__go-back {
				& a {
					width: 30px;
					height: 30px;
					display: block;
					position: relative;
					&:after , &:before {
						content: '';
						width: 16px;
						height: 3px;
						background: $grey-main;
						display: block;
						position: absolute;
						left: 6px;
						&:hover {
							background: darken($grey-main,10%);
						}
					}
					&:after {
						transform: rotate(-45deg);
						top: 10px;

					}
					&:before {
						transform: rotate(45deg);
						top: 21px;

					}
				}
			}
			&__buttons {
				.button {
					margin-right: 10px;
					&:last-child {
						margin-right: 0px;

					}
				}
			}
		}
		&__breadcrumbs-wrapper {
			padding: 0 40px;
			margin-top: 25px;
			display: flex;
			justify-content: flex-end;
			&__breadcrumbs {
				color: $grey-main;
			}

		}
		&__product-info {
			padding: 0 40px;
			&__name {
				& h2 {
					color: #4D4D4D;
				}
			}
			&__price-and-favorites {
				display: flex;
				align-items: center;
				&__price {
					font-size: 24px;
					position: relative;
					color: $green-color-text;
					margin-top: 20px;
					font-weight: 600;
					& .sumbol {
						font-size: 17px;
					}
					&__without-discount {
						position: absolute;
						left: 0;
						color: $grey-main-darken;
						top: -26px;
						font-size: 18px;
						text-decoration: line-through;
						& .sumbol {
							font-size: 15px;
						}
					} 
				}
				&__favorites {
					margin-left: 20px;
				}
				&__share {
					margin-left: 20px;
					& a {
						font-size: 24px;
						color:  $green-color-text;
					}
				}
			}
			&__sale {
				color: #DD2A1B;
				margin-top: 30px;
				margin-bottom: 40px;
				&__title {
					font-weight: 600;
					display: inline-block;
					margin-right: 5px;
				}
				&__desctiption {
					display: inline-block;
					margin-right: 5px;
				}
				&__time {
					display: inline-block;
					font-weight: 600;
				}
			}
			&__product-code {
				color: $grey-main;
				margin-top: 10px;
				& span {
					font-weight: 600;
				}
			}
			&__description {
				&__text {
					height: 90px;
					overflow: hidden;
					position: relative;
					&.open {
						height: 100%;
					}
				}
				&__expand {
					color: #B1A4E2;
					margin-top: 10px;
					position: relative;
					display: inline-block;
					cursor: pointer;

					&:after, &:before {
						content: '';
						background: #B1A4E2;
						width: 8px;
						height: 2px;
						border-radius: 5px;
						display: block;
						position: absolute;
						transition: 0.3s;
					}
					&:after {
						right: -15px;
						bottom: 8px;
						transform: rotate(45deg);
					}
					&:before {
						bottom: 8px;
						right: -20px;
						transform: rotate(-45deg);
					}
					&.open {
						&:after {
							transform: rotate(-45deg);
						}
						&:before {
							transform: rotate(45deg);
						}
					}
				}
				& .block-for-calculate-height {
					display: none;
					& .product-page__content__product-info__description__text {
						height: auto;
					}
				}
			}
			&__contacts {
				margin-top: 40px;
				&__title {
					color: $green-color-text;
					font-size: 20px;
					font-weight: 600;
					padding-bottom: 20px;
					text-align: center;
				}
				&__content {
					border-radius: 15px;
					background: $input-bg-grey;
					padding: 25px;

					&__name-and-logo {
						display: flex;
						align-items: center;
						&__name {
							font-size: 18px;
							font-weight: 600;
						}
						&__logo {
							margin-right: 25px;
							height: 100px;
							position: relative;
							& img {
								height: 100%;
							}
						}
					}
					&__section {
						margin-bottom: 15px;
						&__title {
							color:$green-color-text;
							margin-bottom: 7px;
							font-size: 18px;
							font-weight: 600;
						}
						&__field {
							
						}
					}
				}
			} // __contacts
		} //__product-info
		&__recommendation {
			margin-top: 90px;
			&__title {
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				color: $green-color-text;
				margin-bottom: 20px;
			}
			& .products-wrapper {
				& > .container {
					& > .row {
						padding-left: 0;
						padding-right: 0;
					}
				}
				& .product {
					max-width: 300px;
					margin: auto;
				}
			}
		} // __recommendation
	}
}
.mobile_menu_on_bottom {
	display: none;
}
@media(max-width:1200px ) {
	.products-wrapper .product-wrapper .product__header-image-wrapper__header-image__sale-block__text {
		font-size: 17px;
	}
}
@media(max-width: 992px) {
	.header-main {
		&__items {
			&__item{
				&.follow-sale,
				&.favorites {
					display: none;
				}
				&.hamburger {
					display: none;
				}
			} 
		} 
	} 
	.mobile_menu_on_bottom {
		position: fixed;
		display: flex;
		width: 100%;
		height: 70px;
		background: #FFFFFF;
		bottom: 0;
		left: 0;
		align-items: center;
		justify-content: space-around;
		&  #btn_call, & #btn_message {
			font-size: 20px;
			text-transform: capitalize;
			padding: 5px 30px;
		}
	}
	.my-contacts__form { 
		flex-direction: column;
		&__left, 
		&__right,
		&__center {
			width: 100%;
		}
		&__left {
			margin-bottom: 20px;
		}
	}
	.categories {
		display: block;
		& .category {
			display: flex !important;
		}
	}
	.buyers-and-suppliers-cards {
		flex-direction: column;
		&__card {
			margin-right: 0;
			&__block {
				max-width: inherit;
				width: 100%;
				box-sizing: border-box;

			}

		}
	}
	.footer-main {
		padding-bottom: 85px;
		&__nav-and-info {
			flex-direction: column;
		}
		&__logo-and-socials {
			flex-direction: column;
			&__socials {
				margin-bottom: 30px;
			}
		}
	}

	.product-page {
		flex-direction: column;
		&__images-block {
			width: 100%;
			&.slick-dotted.slick-slider {
				width: 100%;
				position: relative;
			}
		}
		&__content {
			width: 100%;
		}
		& .products-wrapper {
			padding-bottom: 90px;
		}
	}

	.product-page__content__header {
		position: fixed;
		top: 0;
		background: $white-text;
		z-index: 10;
	}

	.products-wrapper {
		&  > .container {
			& > .row {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		& .product-wrapper {
			& .product {
				&__name {

				}
				&__price-favorite {
					&__price {
						&__without-discount{

						}
					}
					&__favorite  {
						& img {
							width: 21px;
							height: 21px;
						}
					}
				}
			}
		}
	} 
}

.right-bar {
	width: 300px;
	height: 100%;
	background: $footer-bg;
	position: absolute;
	right: -350px;
	top:0;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-top: 25px;
	// display: none;
	&._open {
		right: 0;
	}
	&__menu {
		&__item {
			transition: 0.3s;
			&._active {
				background: #056736;
			}
			&._with-sub-menu {
				cursor: pointer;
				&:hover {
					background: #056736;
				}
				& > .right-bar__menu__item__link > .right-bar__menu__item__link__text {
					position: relative;
					&:after, &:before {
						content: '';
						border: none;
						margin: 0;
						display: block;
						width: 6px;
						height: 2px;
						background: #167140;
						position: absolute;
						right: 2px;
						top: 50%;
						transform: rotate(45deg);
					}
					&:before {
						right: -14px;
					}
					&:after {
						transform: rotate(-45deg);
						right: -19px;

					}
				}
			}
			&__link {
				display: flex;
				align-items: center;
				color: $white-text;
				padding: 10px 15px;

				&__icon {
					width: 17px;
					height: 17px;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 25px;
					& img {
						width: 100%;
						height: 100%;
					}
				}
				&__text {
					text-transform: capitalize;
				}
				&:hover {
					color: darken($white-text, 10%);
				}

			}
			&:hover {
				background: #056736;
			}
			&__sub-menu {
				overflow: hidden;
				height: 0;

				& .right-bar__menu__item {
					padding-left: 40px;
				}
				&._open {
					height: 100%;
				}
			}
		}
		&__separator {
			height: 2px;
			background: #0F6735;
			margin-left: 57px;
		}
	}
}
@media(max-width: 768px) {
	.header-main-col {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.header-main{
		&__items {
			justify-content: center;
			align-items: center;
			&__item  {
				&.search-form {
					margin-top: 20px;
				}
			}
		}
	}
	.search-form {
		&__input-block{
			&._region {
				min-width: auto;
			}
		} 
	} 

}
@media(max-width: 576px) {
	.products-wrapper {
		& .product-wrapper {
			& .product {
				&__header-image-wrapper {
					&__header-image {
						&__sale-block {
							&__text {
								font-size: 17px;
							}
						}
					}
				}
				&__name {
					font-size: 16px;
					height: 58px;
					max-height: 66px;
				}
				&__price-favorite {
					&__price {
						font-size: 19px;
						&__without-discount{
							top: -23px;
							font-size: 16px;
						}
					}
					&__favorite  {
						& img {
							width: 21px;
							height: 21px;
						}
					}
				}
			}
		}
	} 
}

@media(max-width: 420px) {
	.products-wrapper {
		& .product-wrapper {
			& .product {
				&__header-image-wrapper {
					&__header-image {
						&__sale-block {
							padding-top: 1%;
							&__text {
								font-size: 14px;
							}
						}
					}
				}
				&__name {

				}
				&__price-favorite {
					&__price {
						&__without-discount{

						}
					}
					&__favorite  {
						& img {

						}
					}
				}
			}
		}
	} 
}