{% extends 'base.html' %}
{% load static %}
{% load products_tags %}
{% block content %}
<div id="page">
	{% include 'nav.html' %}
	<div id="content">
		<form id="subscription-to-shares" class="subscription-to-shares" action="{% url 'subscribes:create' %}" method="POST">
			{% csrf_token %}
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="subscription-to-shares__top-inputs">
							<div class="subscription-to-shares__top-inputs__input _region">
								<input id="reg" type="hidden" name="region1">
								<input type="hidden" id="subscription-to-shares__region" name="region" value="" />
								<div class="dropdown tmp-dropdown-menu">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Вся Украина
									</button>
									<ul class="dropdown-menu" data-for="subscription-to-shares__region" aria-labelledby="dropdownMenuButton1">
										{% city_list as c_list %}
										{% for key, value in c_list %}
										<li class="dropdown-item" data-value="{{ value }}">
											{{ value }}
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="subscription-to-shares__top-inputs__input _viber">
								<img src="{% static './img/icons/viber.svg' %}" alt="viber-logo" />

								<input type="text" class="tmp-input-text" id="subscription-to-shares__viber" name="viber" placeholder="Viber" readonly value="{{ request.user.viber }}" />
								<input type="checkbox" class="tmp-checkbox-btn-input" id="subscription-to-shares__viber-checkbox" {% if request.user.profile.viber %} checked {% else %} disabled {% endif %} />
								<label for="subscription-to-shares__viber-checkbox" class="tmp-checkbox-btn-label">
								</label>
							</div>

							<div class="subscription-to-shares__top-inputs__input _telegram">
								<img src="{% static './img/icons/telegram.svg' %}" alt="telegram-logo" />
								<input type="text" class="tmp-input-text" id="subscription-to-shares__telegram" name="telegram" placeholder="Telegram" readonly value="{{ request.user.telegram }}" />
								<input type="checkbox" class="tmp-checkbox-btn-input" id="subscription-to-shares__telegram-checkbox" {% if not request.user.profile.telegram %}disabled {% else %} checked {% endif %} />
								<label for="subscription-to-shares__telegram-checkbox" class="tmp-checkbox-btn-label"></label>
							</div>

							<div class="subscription-to-shares__top-inputs__input _email">
								{% comment %} <i class="fa fa-envelope" aria-hidden="true"></i> {% endcomment %}
								<img src="{% static '/img/icons/contact_hover.svg' %}" alt="email_icon">
								<input type="text" class="tmp-input-text" id="subscription-to-shares__email" name="email" value="{{ request.user.email }}" readonly />
								<input type="checkbox" class="tmp-checkbox-btn-input" id="subscription-to-shares__email-checkbox" {% if request.user.email %} checked {% else %} disabled {% endif %} />
								<label for="subscription-to-shares__email-checkbox" class="tmp-checkbox-btn-label">
								</label>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="categories-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="categories">
								{% for category in categories %}
								<div class="category_h">
									{% if category.id in subscribed %}True{% else %}False {% endif %}
									<input type="hidden" name="subscribe" value="{{ category.id }}" />
									<input type="checkbox" class="subscription-to-shares__category-checkbox" />
									<div class="category_h__top-icon">
										<div class="category_h__top-icon__X"></div>
										{{ category.image_content }}
									</div>
									<div class="category_h__bottom-text">{{ category.name }}</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="subscription-to-shares__submit">
							<input type="submit" class="button button-with-gradient" value="Сохранить" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}