<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<script src="./assets/js/jquery-3.6.0.min.js"></script>

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-grid.min.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
			crossorigin="anonymous"
		></script>
		<!-- /BOOTSTRAP -->

		<!-- SLICK -->
		<link rel="stylesheet" href="./assets/slick-master/slick/slick.css" />
		<link rel="stylesheet" href="./assets/slick-master/slick/slick-theme.css" />
		<script src="./assets/slick-master/slick/slick.js"></script>
		<!-- /SLICK -->

		<!-- fontawesome -->
		<link rel="stylesheet" href="./assets/font-awesome-4.7.0/css/font-awesome.min.css" />
		<!-- fontawesome -->
		<link rel="stylesheet" href="./assets/css/main.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="_404">
					<div class="_404__left-container">
						<h1>404</h1>
						<h3>Страницы не существует</h3>
						<a href="№" class="button button-with-gradient">перейти на главную</a>
					</div>
					<div class="_404__right-container"></div>
				</div>
			</div>
		</div>
	</body>
</html>
