{% extends 'base.html' %}
{% block content %}
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="my-contacts">
          <h2>Мои контакты</h2>

          <form class="my-contacts__form" action="">
            <div class="my-contacts__form__left">
              <div class="my-contacts__form__left__upload-file">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
            </div>
            <div class="my-contacts__form__center">
              <div class="my-contacts__form__center__block-fields">
                <div class="my-contacts__form__center__block-fields__title">
                  <i class="
                      fa fa-building
                      my-contacts__form__center__block-fields__title__icon
                    " aria-hidden="true"></i>
                  Компания
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _company_name
                  ">
                  <input type="text" class="tmp-input-text" name="company_name" />
                </div>
              </div>

              <div class="my-contacts__form__center__block-fields">
                <div class="my-contacts__form__center__block-fields__title">
                  <i class="
                      fa fa-globe
                      my-contacts__form__center__block-fields__title__icon
                    " aria-hidden="true"></i>
                  Страна
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _country
                  ">
                  <input type="text" class="tmp-input-text" name="country" />
                </div>
              </div>

              <div class="my-contacts__form__center__block-fields">
                <div class="my-contacts__form__center__block-fields__title">
                  <i class="
                      fa fa-map-marker
                      my-contacts__form__center__block-fields__title__icon
                    " aria-hidden="true"></i>
                  Город / адрес
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _addres
                  ">
                  <input type="text" class="tmp-input-text" name="addres" />
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _addres1
                  ">
                  <input type="text" class="tmp-input-text" name="addres1" />
                </div>
              </div>
              <div class="my-contacts__form__center__block-fields">
                <div class="my-contacts__form__center__block-fields__title">
                  <i class="
                      fa fa-mobile
                      my-contacts__form__center__block-fields__title__icon
                    " aria-hidden="true"></i>
                  Телефоны
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _phone
                  ">
                  <input type="text" class="tmp-input-text" name="phone" />
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _phone1
                  ">
                  <input type="text" class="tmp-input-text" name="phone1" />
                </div>
              </div>
              <div class="my-contacts__form__center__block-fields">
                <div class="my-contacts__form__center__block-fields__title">
                  <i class="
                      fa fa-envelope-o
                      my-contacts__form__center__block-fields__title__icon
                    " aria-hidden="true"></i>
                  E-mail
                </div>
                <div class="
                    my-contacts__form__center__block-fields__inp-block
                    _email
                  ">
                  <input type="email" class="tmp-input-text" name="email" />
                </div>
              </div>
            </div>
            <div class="my-contacts__form__right">
              <div class="my-contacts__form__inp-block">
                <input class="button button-with-gradient my-contacts__submit" type="submit" value="Сохранить" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}