{% load static %}
{% load sociallinks_tags %}
{% load i18n %}
<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-main__nav-and-info">
          <div class="footer-main__nav-and-info__nav">
            <h3 class="footer-main__nav-and-info__nav__title">Сайт:</h3>
            <nav class="footer-main__nav-and-info__nav__menu">
              <a href="#"> О проекте </a>
              <a href="#"> Правила сайта </a>
              <a href="#"> Обратная связь </a>
            </nav>
          </div>
          <div class="footer-main__nav-and-info__info-block">
            <h3 class="footer-main__nav-and-info__info-block&quot;__title">
              {% trans 'Покупателям' %}:
            </h3>
            <p>{% trans "Подпишитесь на акции, скидки, распродажи, Избранное" %}</p>
          </div>
          <div class="footer-main__nav-and-info__info-block">
            <h3 class="footer-main__nav-and-info__info-block&quot;__title">
              {% trans "Поставщикам" %}:
            </h3>
            <p>{% trans "Размещайте свои акции, распродажи, товары, услуги" %}</p>
          </div>
        </div>

        <div class="footer-main__logo-and-socials">
          <div class="footer-main__logo-and-socials__socials">
            {% social_links as links %}
            {% for link in links %}
            <div class="footer-main__logo-and-socials__socials__social">
              <a href="{{ link.url }}" rel="nofollow">
                {{ link.image_content }}
              </a>
            </div>
            {% endfor %}

          </div>
          <div class="footer-main__logo-and-socials__logo">
            <a href="{% url 'index' %}">
              <img src="{% static './img/logo.png' %}" alt="logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>