{% load static %}
{% load products_tags %}

<div class="bg-for-open-mob-menu"></div>
<div class="right-bar">
	<div class="right-bar__menu">
		<div class="right-bar__menu__item">
			<a class='right-bar__menu__item__link' href="#">
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/home.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					мои страницы
				</div>
			</a>
		</div>

		<div class="right-bar__menu__separator"></div>
		
		<div class="right-bar__menu__item _with-sub-menu">
			<a class='right-bar__menu__item__link '>
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/favorites.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					русский
				</div>
			</a>
			<div class="right-bar__menu__item__sub-menu">
				<div class="right-bar__menu__item">
					<a class='right-bar__menu__item__link' href="#">
						<div class="right-bar__menu__item__link__icon">
							<img src="{% static './img/icons/favorites.svg' %}" alt="">
						</div>
						<div class="right-bar__menu__item__link__text">
							мои страницы
						</div>
					</a>
				</div>
			</div>
		</div>

							
		<div class="right-bar__menu__item _with-sub-menu">
			<a class='right-bar__menu__item__link '>
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/favorites.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					русский
				</div>
			</a>
			<div class="right-bar__menu__item__sub-menu ">
				<div class="right-bar__menu__item">
					<a class='right-bar__menu__item__link' href="#">
						<div class="right-bar__menu__item__link__icon">
							<img src="{% static './img/icons/favorites.svg' %}" alt="">
						</div>
						<div class="right-bar__menu__item__link__text">
							мои страницы
						</div>
					</a>
				</div>
				<div class="right-bar__menu__item">
					<a class='right-bar__menu__item__link' href="#">
						<div class="right-bar__menu__item__link__icon">
							<img src="{% static './img/icons/favorites.svg' %}" alt="">
						</div>
						<div class="right-bar__menu__item__link__text">
							мои страницы
						</div>
					</a>
				</div>
				<div class="right-bar__menu__item">
					<a class='right-bar__menu__item__link' href="#">
						<div class="right-bar__menu__item__link__icon">
							<img src="{% static './img/icons/favorites.svg' %}" alt="">
						</div>
						<div class="right-bar__menu__item__link__text">
							мои страницы
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

	