{% load static %}
{% load products_tags %}
{% load favorite_tags %}
{% favorite_items as favorites %}
{% user_products as u_items %}
<div class="bg-for-open-mob-menu"></div>
<div class="right-bar">
	<div class="right-bar__menu">
		<div class="right-bar__menu__item">
			<a class='right-bar__menu__item__link' href="{% url 'products:add_product' %}">
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/icon_plus.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Создать страницу
				</div>
			</a>
		</div>

		<div class="right-bar__menu__separator"></div>

		<div class="right-bar__menu__item _with-sub-menu">
			<a class='right-bar__menu__item__link '>
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/favorites.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Мои страницы
				</div>
			</a>
			<div class="right-bar__menu__item__sub-menu">
				{% for item in u_items %}
				<div class="right-bar__menu__item">
					<a class='right-bar__menu__item__link' href="{{ item.get_absolute_url }}">
						<div class="right-bar__menu__item__link__icon">
							<img src="{% static './img/icons/favorites.svg' %}" alt="" style="height: 17px;">
						</div>
						<div class="right-bar__menu__item__link__text">
							{{ item.name }}
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="right-bar__menu__item _with-sub-menu">
			<a class='right-bar__menu__item__link '>
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/favorites.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Избранное
				</div>
			</a>
			<div class="right-bar__menu__item__sub-menu ">
				{% for item in favorites %}
				<div class="right-bar__menu__item">
					<a class='right-bar__menu__item__link' href="{{ item.get_absolute_url }}">
						<div class="right-bar__menu__item__link__icon">
							<img src="{% static './img/icons/favorites.svg' %}" alt="">
						</div>
						<div class="right-bar__menu__item__link__text">
							{{ item.name }}
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="right-bar__menu__separator"></div>

		{% if request.user.is_authenticated %}
		<div class="right-bar__menu__item">
			<a class='right-bar__menu__item__link' href="{% url 'users:logout' %}">
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/user_grey.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Выход
				</div>
			</a>
		</div>
		<div class="right-bar__menu__item">
			<a class='right-bar__menu__item__link' href="{% url 'users:profile' %}">
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/user_grey.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Мои контакты
				</div>
			</a>
		</div>
		{% else %}
		<div class="right-bar__menu__item">
			<a class='right-bar__menu__item__link' href="{% url 'users:login' %}">
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/user_grey.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Войти
				</div>
			</a>
		</div>
		<div class="right-bar__menu__item">
			<a class='right-bar__menu__item__link' href="{% url 'users:new' %}">
				<div class="right-bar__menu__item__link__icon">
					<img src="{% static './img/icons/user_grey.svg' %}" alt="">
				</div>
				<div class="right-bar__menu__item__link__text">
					Регистрация
				</div>
			</a>
		</div>
		{% endif %}


	</div>
</div>