<div class="mobile-menu-on-bottom">
    <div class="mobile-menu-on-bottom__item">
        <div class="mobile-menu-on-bottom__item__icon">
            <img src="./img/icons/heart_grey.svg" alt="home">
        </div>
        <div class="mobile-menu-on-bottom__item__text">
            Главная
        </div>
    </div>
    <div class="mobile-menu-on-bottom__item">
        <div class="mobile-menu-on-bottom__item__icon">
            <img src="./img/icons/heart_grey.svg" alt="home">
        </div>
        <div class="mobile-menu-on-bottom__item__text">
            Избранное
        </div>
    </div>
    <div class="mobile-menu-on-bottom__item">
        <div class="mobile-menu-on-bottom__item__icon">
            <img src="./img/icons/home.svg" alt="home">
        </div>
        <div class="mobile-menu-on-bottom__item__text">
            добавить
        </div>
    </div>
    <div class="mobile-menu-on-bottom__item">
        <div class="mobile-menu-on-bottom__item__icon">
            <img src="./img/icons/user_grey.svg" alt="home">
        </div>
        <div class="mobile-menu-on-bottom__item__text">
            профиль
        </div>
    </div>
    <div class="mobile-menu-on-bottom__item _open-right-bar">
        <div class="mobile-menu-on-bottom__item__icon">
            <img src="./img/icons/home.svg" alt="home">
        </div>
        <div class="mobile-menu-on-bottom__item__text">
            еще
        </div>
    </div>
</div>
	