<!-- prettier-ignore -->
{% load static %}
{% load products_tags %}
<header class="header-main" id="heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="header-main__logo-wrapper">
          <a href="{% url 'index' %}">
            <img src="{% static './img/logo.png' %}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-center">
        <div class="header-main__items">
          <div class="header-main__items__item search-form">
            <form action="{% url 'products:by_query' %}" id="search-form" class="search-form">
              <div class="search-form__input-block cont_with_same_icon">
                <input type="text" placeholder="Что ищите?" name="query" />
                <img class="loupe just_icon" src="{% static './img/icons/loupe.svg' %}" alt="loupe">
                <img class="loupe icon_active" src="{% static './img/icons/loupe_hover.svg' %}" alt="loupe">
              </div>
              <div class="search-form__input-block _region">
                <div class="dropdown tmp-dropdown-menu">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Регион
                  </button>
                  <input type="hidden" id="region-inp" name="region-inp" value="" />
                  <ul class="dropdown-menu" data-for="region" aria-labelledby="dropdownMenuButton1">
                    {% city_list as c_list %}
                    {% for key, value in c_list %}
                    <li class="dropdown-item" data-value="{{ key }}">
                      {{ value }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </form>
          </div>
          <div class="header-main__items__item follow-sale cont_with_same_icon">
            <a href="{% url 'subscribes:list' %}">
              <img class='just_icon' src="{% static './img/icons/follow_sale.svg' %}" alt="follow_sale" />
              <img class='icon_active' src="{% static './img/icons/follow_sale_hover.svg' %}" alt="follow_sale" />
              подписка на акции
            </a>
          </div>
          <div class="header-main__items__item favorites">
            {% if request.session.favorites|length > 0 %}
            <small id="favorites_count" class="text-muted">{{ request.session.favorites|length }}</small>
            {% else %}
            <small id="favorites_count" class="text-muted">0</small>
            {% endif %}
            <a href="{% url 'favorites:favorite_list' %}">
              <img id="nav_fav_img" src="{% if request.session.favorites|length > 0 %}
							  {% static './img/icons/favorites_fill.svg' %}
							{% else %}{% static './img/icons/favorites.svg' %}{% endif %}" alt="favorites" />
            </a>
          </div>
          <div class="header-main__items__item hamburger">
            <div class="wrapper-menu-hamburger">
              <div class="wrapper-menu-hamburger__hamburger-menu"></div>
            </div>
          </div>
        </div>
        <!-- header-main__items -->
      </div>
    </div>
  </div>
</header>