{% extends 'base.html' %}
{% block content %}
<div id="page">
  <div id="content">

			<div class="popup-category-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="popup-category">
								<div class="popup-category__main-categories">
                {% for cat in categories %}
									<a href='{{ cat.get_absolute_url }}' data-cat-id='{{ cat.pk }}' class="popup-category__main-categories__cat">
										<div class="popup-category__main-categories__cat__icon">
                      <img src="{{ cat.image.url }}" alt="">
                    </div>
                    <div class="popup-category__main-categories__cat__name">
											{{ cat.name }}
										</div>
                  </a>
                  {% for children in cat.childrens.all %}
                    <div class="popup-category__sub-categories" data-parent-cat-id='1'>
                      <a href='{{ children.get_absoute_url }}' class="popup-category__sub-categories__subcat">
                        <div class="popup-category__sub-categories__subcat__name">
                          {{ children.name }}
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}