{% extends 'base.html' %} {% load static %} {% block content %}
<div id="content">
  <div class="add-page-wrapper">
    <div class="container">
      <div class="row">
        <div class="add-page">
          <form action="{% url 'products:add_product' %}" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="" />
          </form>

          {% for cat in categories %}
          <p>{{ cat.name }}</p>
          {% endfor %}

          <!-- content -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
