{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="page">
	<div id="content" style="overflow: hidden;">
		<div class="product-page">
			<div class="product-page__images-block">
				{% comment %} <div class="product-page__images-block__image">
					<img src="{{ product.main_image.url }}" alt="" />
				</div> {% endcomment %}

				{% for img in images %}
				<div class="product-page__images-block__image">
					<img src="{{ img.image.url }}" alt="" />
				</div>
				{% endfor %}
			</div>

			<div class="product-page__content">
				<div class="product-page__content__header">
					<div class="product-page__content__header__go-back">
						<a href="{% url 'products:all' %}"></a>
					</div>
					<div class="product-page__content__header__buttons">
						<button class="button tmp-button-gray" id="btn_call">позвонить</button>
						<button class="button tmp-button-gray" id="btn_message">сообщение</button>
					</div>
					<div class="product-page__content__header__phones">
						<a href="tel:380665956543"> +38<span class="operator">066</span> 5956543 </a>
						<a href="tel:380665956543"> +38<span class="operator">093</span> 5956543 </a>
						<a href="tel:380665956543"> +38<span class="operator">066</span> 5956543 </a>
						<div class="product-page__content__header__phones__close-btn"></div>
					</div>
				</div>

				<div class="product-page__content__breadcrumbs-wrapper mt-4">
					<div class="product-page__content__breadcrumbs-wrapper__breadcrumbs" style="margin-left: auto;">
						<a style="color: inherit" href="{% url 'index' %}">Главная</a> /
						{% if product.category.parrent %}
						{{ product.category.parent }} /{% else %}
						{{ product.category }} /
						{% endif %}
					</div>
				</div>
				<div class="product-page__content__product-info">
					<div class="product-page__content__product-info__name">
						<p></p>
						<h2>{{ product.name }}</h2>
						<p />
					</div>
					<div class="product-page__content__product-info__price-and-favorites">
						<div class="product-page__content__product-info__price-and-favorites__price">
							{% if product.discount %}
							<div
								class="product-page__content__product-info__price-and-favorites__price__without-discount">
								{{ product.price }}<span class="sumbol">грн.</span>
							</div>
							<div class="product-page__content__product-info__price-and-favorites__price__with-discount">
								{{ product.price_after_discount }}<span class="sumbol">грн.</span>
							</div>
							{% else %}
							<div class="product-page__content__product-info__price-and-favorites__price__with-discount">
								{{ product.price }}<span class="sumbol">грн.</span>
							</div>
							{% endif %}
						</div>
						<div class="product-page__content__product-info__price-and-favorites__favorites">
							<div class="product__price-favorite__favorite">
								<div class="add_to_favorites" id="item-{{ product.id }}" data-itemid="{{ product.id }}">
									<img id="item-img-{{ product.id }}" class="favorite-button" src="
								{% if product.id in request.session.favorites %}
										{% static './img/icons/favorites_fill.svg' %}
										{% else %}
										{% static './img/icons/favorites.svg' %}
										{% endif %}" alt="favorites" />
								</div>
							</div>
						</div>
						<div class="product-page__content__product-info__price-and-favorites__share">
							<a href="#">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<div class="product-page__content__product-info__product-code">
						{% comment %} Код: <span></span> {% endcomment %}
					</div>
					{% if product.discount %}
					<div class="product-page__content__product-info__sale">
						<div class="product-page__content__product-info__sale__title">
							АКЦИЯ</div>
						<div class="product-page__content__product-info__sale__desctiption">
							{{ product.discount_overview }}
						</div>
						<div class="product-page__content__product-info__sale__time">
							<span> Заканчивается {{ product.discount.expiry_date|date }}</span>
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</div>
					</div>
					{% endif %}
					<div class="product-page__content__product-info__description">
						<div class="product-page__content__product-info__description__title">
							<h3>Описание</h3>
						</div>
						<div class="product-page__content__product-info__description__text">{{ product.overview }}</div>
						<div class="product-page__content__product-info__description__expand">Подробнее</div>
						<div class="block-for-calculate-height"></div>
					</div>

					<div class="product-page__content__product-info__contacts">
						<div class="product-page__content__product-info__contacts__title">Контакты</div>
						<div class="product-page__content__product-info__contacts__content">
							<div class="product-page__content__product-info__contacts__content__name-and-logo">
								{% if product.owner.profile.logo %}
								<div
									class="product-page__content__product-info__contacts__content__name-and-logo__logo">
									<img src="{{ product.owner.profile.logo.url }}" alt="" />
								</div>
								<div
									class="product-page__content__product-info__contacts__content__name-and-logo__name">
									{{ product.owner.profile.brand }}
								</div>
								{% else %}
								<div
									class="product-page__content__product-info__contacts__content__name-and-logo__name">
									{{ product.owner.profile.brand }}
								</div>
								{% endif %}
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-globe" aria-hidden="true"></i>
									Страна
								</div>

								<div class="product-page__content__product-info__contacts__content__section__field">
									{% comment %} {{ product.owner.profile.country }} {% endcomment %}
									Украина
								</div>
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									Город / Адрес
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{{ product.get_city_display }}
								</div>
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-mobile" aria-hidden="true"></i>
									Телефоны
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{% if product.owner.profile.phone %}
									{{ product.owner.profile.phone }}
									{% else %}
									Не указанно
									{% endif %}
								</div>
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									E-mail:
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{% comment %} {{ product.owner.email }} {% endcomment %}
									Скрыто
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-page__content__recommendation">
					<div class="product-page__content__recommendation__title">С этим товаром покупают</div>
					<div class="products-wrapper">
						<div class="container">
							<div class="row">
								{% for item in sugested %}
								<div class="col-6 col-md-5 col-lg-5 product-wrapper">
									<div class="product">
										<div class="product__header-image-wrapper">
											<div class="product__header-image-wrapper__header-image">
												{% if item.discount %}
												<div class="product__header-image-wrapper__header-image__sale-block">
													<img class="product__header-image-wrapper__header-image__sale-block__bg"
														src="{% static './img/icons/sale_bg.svg' %}" alt="" />
													<span
														class="product__header-image-wrapper__header-image__sale-block__text">АКЦИЯ!</span>
												</div>
												{% endif %}
												<img class="product__header-image-wrapper__header-image__product-img"
													src="{{ item.images.first.image.url }}" alt="product_name" />
											</div>
										</div>
										<div class="product__name">
											<a href="{{ item.get_absolute_url }}"
												style="color: inherit">{{ item.name }}</a>
										</div>
										<div class="product__price-favorite">
											<div class="product__price-favorite__price">
												{% if item.discount %}
												<div class="product__price-favorite__price__without-discount">
													{{ item.price }}
													<!--<span class="sumbol">грн.</span>-->
												</div>
												<div class="product__price-favorite__price__with-discount">
													{{ item.price_after_discount }}<span class="sumbol">грн.</span>
												</div>
												{% else %}
												<div class="product__price-favorite__price__with-discount">
													{{ item.price }}<span class="sumbol">грн.</span>
												</div>
												{% endif %}
											</div>
											<div class="product__price-favorite__favorite">
												<div class="add_to_favorites" id="item-{{ item.id }}"
													data-itemid="{{ item.id }}">
													<img id="item-img-{{ item.id }}" class="favorite-button" src="
														{% if item.id in request.session.favorites %}
															{% static './img/icons/favorites_fill.svg' %}
														{% else %}
															{% static './img/icons/favorites.svg' %}
														{% endif %}" alt="favorites" />
												</div>
											</div>
										</div>
										<div class="product__company">
											<div class="product__company__logo">
												<div class="row">
													<div class="col-lg-6">
														{% if item.owner.profile.logo %}
														<img src="{{ item.owner.profile.logo.url }}" alt="some_logo" />
														{% elif item.owner.profile.brand %}
														<p>{{ item.owner.profile.brand }}</p>
														{% endif %}
													</div>
													<div class="col-lg-6">
														{% if item.discount %}
														<p style="margin-left: 60px; margin-top: 15px; color: #048439">
															{{ item.timestamp|date:"d.m" }}-{{ item.discount.expiry_date|date:"d.m" }}
														</p>
														{% else %}
														<p style="margin-left:110px; margin-top: 15px; color: #048439">
															{{ item.timestamp|date:"d.m" }}
														</p>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<!-- row -->
						</div>
						<!-- container -->
					</div>
					<!-- products-wrapper -->
				</div>
				<!-- product-page__content__recommendation -->
			</div>
			<!--product-page__content -->
		</div>
		<!-- product-page -->
	</div>
	<!-- content -->
</div>
{% endblock content %}