{% extends 'base.html' %} {% block content %}
{% load static %}

	<div id="content">
		<div class="product-page">
			
			<div class="product-page__images-block">
				<div class="product-page__images-block__image">
					<img src="{{ product.main_image.url }}" alt="">
				</div>
				{% for img in product.productimage_set.all %}
					<div class="product-page__images-block__image">
						<img src="{{ img.image.url }}" alt="">
					</div>
				{% endfor %}
			</div>

			<div class="product-page__content">
				<div class="product-page__content__header">
					<div class="product-page__content__header__go-back">
						<a href="{% url 'products:all' %}"></a>
					</div>
					<div class="product-page__content__header__buttons">
						<button class='button tmp-button-gray' id='btn_call'>позвонить</button>
						<button class='button tmp-button-gray' id='btn_message'>сообщение</button>
					</div>
				</div>

				<div class="product-page__content__breadcrumbs-wrapper">
					<div class="product-page__content__breadcrumbs-wrapper__breadcrumbs">
						главная / {{ product.category.parent }} / {{ product.category }}
					</div>
				</div>
				<div class="product-page__content__product-info">
					<div class="product-page__content__product-info__name">
						<p><h2>{{ product.name }}</h2></p>
					</div>
					<div class="product-page__content__product-info__price-and-favorites">
						<div class="product-page__content__product-info__price-and-favorites__price">
						{% if product.discount %}
						<div class="product-page__content__product-info__price-and-favorites__price__without-discount">{{ product.price }}<span class="sumbol">грн.</span></div>
						{% endif %}
							<div class="product-page__content__product-info__price-and-favorites__price__with-discount">{{ product.price_after_discount }}<span class="sumbol">грн.</span></div>
						</div>
						<div class="product-page__content__product-info__price-and-favorites__favorites">
						<a href="{% url 'favorites:add_to_favorite' product_id=product.id %}">
							<div class="add_to_favorites">
								<img src="{% if product.id in request.session.favorites %}
									{% static './img/icons/favorites_fill.svg' %}
								{% else %}{% static './img/icons/favorites.svg' %}{% endif %}" alt="favorites">	
							</div>
						</a>
						</div>
						<div class="product-page__content__product-info__price-and-favorites__share">
							<a href="#">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<div class="product-page__content__product-info__product-code">
						Код: <span>{{ product.uuid_to_string  }}</span>
					</div>
					

					<div class="product-page__content__product-info__sale">
						<div class="product-page__content__product-info__sale__title">
							{% if product.discount %}АКЦИЯ{% endif %}
						</div>
						<div class="product-page__content__product-info__sale__desctiption">
							Enable discount overview
						</div>
						<div class="product-page__content__product-info__sale__time">
							<span>{{ product.discount_expiry }}</span>  
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</div>
					</div>

					<div class="product-page__content__product-info__description">
						<div class="product-page__content__product-info__description__title">
							<h3>Описание</h3>
						</div>
						<div class="product-page__content__product-info__description__text">
							{{ product.overview }}
						</div>
						<div class="product-page__content__product-info__description__expand">
							Подробнее
						</div>
						<div class="block-for-calculate-height">

						</div>
					</div>

					<div class="product-page__content__product-info__contacts">
						<div class="product-page__content__product-info__contacts__title">Контакты</div>
						<div class="product-page__content__product-info__contacts__content">
							<div class="product-page__content__product-info__contacts__content__name-and-logo">
								{% if product.owner.profile.image %}
									<div class="product-page__content__product-info__contacts__content__name-and-logo__logo">
										<img src="{{ product.owner.profile.image.url }}" alt="">
									</div>
									<div class="product-page__content__product-info__contacts__content__name-and-logo__name">
										{{ product.owner.profile.brand }}
									</div>
								{% else %}
									<div class="product-page__content__product-info__contacts__content__name-and-logo__name">
										{{ product.owner.profile.brand }}
									</div>
								{% endif %}
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-globe" aria-hidden="true"></i>
									Страна
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{{ product.owner.profile.country }}
								</div>
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									Город / Адрес
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{% if product.owner.profile.city and product.owner.profile.address %}
										{{ product.owner.profile.city }}, {{ product.owner.profile.address }}
									{% else %}
										не указанно
									{% endif %}
								</div>
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-mobile" aria-hidden="true"></i>
									Телефоны
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{{ product.owner.profile.phone }}
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									не указан
								</div>
							</div>
							<div class="product-page__content__product-info__contacts__content__section">
								<div class="product-page__content__product-info__contacts__content__section__title">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									E-mail:
								</div>
								<div class="product-page__content__product-info__contacts__content__section__field">
									{{ product.owner.email }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-page__content__recommendation">
					<div class="product-page__content__recommendation__title">
						С этим товаром покупают
					</div>
					<div class="products-wrapper">
						<div class="container">
							<div class="row">
							{% for item in sugested %}
								<div class="col-12 col-md-6 col-lg-6 product-wrapper">
									<div class="product">
										<div class="product__header-image-wrapper">
											<div class="product__header-image-wrapper__header-image">
												{% if item.discount %}
													<div class="product__header-image-wrapper__header-image__sale-block">
														<img class='product__header-image-wrapper__header-image__sale-block__bg' src="{% static './img/icons/sale_bg.svg' %}" alt="">
														<span class="product__header-image-wrapper__header-image__sale-block__text">АКЦИЯ!</span> 
													</div>
												{% endif %}
												<img class='product__header-image-wrapper__header-image__product-img' src="{{ item.main_image.url }}" alt="product_name">
											</div>
										</div>
										<div class="product__name">
											{{ item.name }}
										</div>
										<div class="product__price-favorite">
											<div class="product__price-favorite__price">
												{% if item.discount %}
													<div class="product__price-favorite__price__without-discount">{{ item.price }}<!--<span class="sumbol">грн.</span>--></div>
												{% endif %}
											<div class="product__price-favorite__price__with-discount">{{ item.price_after_discount }}<span class="sumbol">грн.</span></div>
											</div>
											<div class="product__price-favorite__favorite">
												<a href="{% url 'favorites:add_to_favorite' product_id=item.id %}">
													<div class="add_to_favorites">
													<img src="{% if item.id in request.session.favorites %}
														{% static './img/icons/favorites_fill.svg' %}
														{% else %}{% static './img/icons/favorites.svg' %}{% endif %}" alt="favorites">	
													</div>
												</a> 
											</div>
										</div>
										<div class="product__company">
											<div class="product__company__logo">
												{% if item.owner.profile.logo %}
													<img src="{{ item.owner.profile.logo.url }}" alt="some_logo">
												{% else %}
													<p>{{ item.owner.profile.brand }}</p>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</div><!-- row -->
						</div><!-- container -->
					</div> <!-- products-wrapper -->
				</div> <!-- product-page__content__recommendation -->
			</div><!--product-page__content -->
		</div><!-- product-page -->
	</div><!-- content -->

{% endblock content %}
